.User-Comment-Header {
    display: flex;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.Edit-Comment-Textarea {
    display: flex;
    flex-direction: column;
}

.Comment-Outer-Container {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
    width: 90%;
    height: fit-content;
}

.User-Comment-Header span{
    margin: 0px 5px;
}


.Comment-Container-2 {
    width: 90%;
    height: fit-content;
    word-wrap: break-word;
    word-break: keep-all;
}

.Edit-Comment-Textarea textarea {
    min-width: 92%;
    max-width: 92%;
    line-height: 17px;
    color: white;
    padding: 10px 10px;
    height: 150px;
    background: none;
}

#comment-text {
    margin-top: 0px;
    margin-bottom: 30px;
}
