.Comment-Input-Container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Comment-Input-Container p {
    font-family: IBMPlexSans, Arial, sans-serif;
    color: #818384;
    font-size: 12px;
    font-weight: 400;
}

.Comment-User-Name {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#userName {
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 12px;
    color: #4fbcff;
}

#userName2 {
    cursor: pointer;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 12px;
    color: #4fbcff;
}

#userName2:hover {
    text-decoration: underline;
}

.Comment-As-User {
    display: flex;
    width: calc(17% + 20px);
    justify-content: space-between;
}

.Comment-Input-True {
    width: 100%;
}

.Comment-Input textarea{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 10px;
    min-width: 90%;
    max-width: 90%;
    height: 150px;
    background: none;
    color: white;
    border: 1px solid #4a4949;
}



.Comment-Submit-Button {
    width: 93%;
    background-color: #272729;
    height: 40px;
    border-left: 1px solid #4a4949;
    border-bottom: 1px solid #4a4949;
    border-right: 1px solid #4a4949;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.Comment-Submit-Button .disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    border: 2px solid #303030;
    color: gray;
    font-weight: bold;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-right: 10px;
}

.Comment-Submit-Button .enabled {
    background-color: #8ff0a4;
    border: 2px solid #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-right: 10px;
}


.Search-Sort-Container {
    margin-top: 30px;
    display: flex;
    width: 90%;
    flex-direction: row;
    padding-bottom: 10px;
    margin-right: 50px;
    border-bottom: 1px solid #4a4949;
}

.Search-Sort-Inner-Container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Search-Sort-Inner-Container select{
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #4bb0ee;
}

#sort-label {
    color: #4bb0ee;
}

#comment-error {
    position: absolute;
    left: 8%;
    color: #ff7b63;
    font-size: 13px;
}
