PORT=8000
# RUN: "openssl rand -base64 16" to generate a strong JWT_SECRET
JWT_SECRET=<<secret_token>>
#Expires in one week
JWT_EXPIRES_IN=604800

NODE_ENV=development
#If using Sqlite3
DB_FILE=db/dev.db

#If using Postgres
# DB_USERNAME=<<postgresusername>>
# DB_PASSWORD=<<postgrespassword>>
# DB_DATABASE=<<postgres_database_name>>
# DB_HOST=localhost

SCHEMA=<<schema_name>>
