.Create-Post-Backdrop {
    background-color: #303030;
    display: flex;
    justify-content: space-evenly;
    height:100vh;
    width: 100%;
    padding-top: 30px;
}

.Post-Form-Container {
    padding: 20px 30px 20px 20px;
    margin: 0 10px;
    width: 700px;
    max-width: 700px;
    height: fit-content;
    background-color: #1a1a1b;
}

.Create-Post-Container {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
}

.Create-Post-Header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #1a1a1b;
    height: 40px;
    margin-bottom: 20px;
}

.Create-Post-Header h3{
    font-family: IBMPlexSans, Arial, sans-serif;
    font-size: 18px;
    color: #d7dadc
}

.Post-Input-Container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 2px;
    background-color: #1a1a1b;
    height: fit-content
}

.Title-Input {
    background: none;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid #484949;
    border-radius: 2px;
    padding-left: 10px;
    color: white;
}

.Title-Input::placeholder {
    font-family: IBMPlexSans, Arial, sans-serif;
    font-size: 14px;
    color: #484949;
}

.Text-Input {
    background: none;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    height: 200px;
    border: 1px solid #484949;
    border-radius: 2px;
    font-family: IBMPlexSans, Arial, sans-serif;
    font-size: 14px;
    color: white;
}

.Text-Input::placeholder {
    color: #484949;
}

.Post-Submit-Button {
    padding-top: 10px;
    cursor: pointer;
    margin-top: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border-top: 2px solid #484949;
}

.Post-Submit-Button .disabled {
    background-color: #e1e1e1;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    color: gray;
    font-weight: bold;
    border: none;
    width: 80px;
    height: 30px;
}

.cancel-button {
    cursor: pointer;
    background-color: #ff7b63;
    border: 2px solid #303030;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    border: none;
    width: 80px;
    height: 30px;
}

.Post-Submit-Button .enabled {
    cursor: pointer;
    background-color: #8ff0a4;
    border: 2px solid #303030;
    border-radius: 15px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    border: none;
    width: 80px;
    height: 30px;
}


.Community-Dropdown-Options {
    position: absolute;
    background-color: #303030;
    height: 320px;
    width: 250px;
    border-left: 1px solid #484949;
    border-bottom: 1px solid #484949;
    border-right: 1px solid #484949;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
    cursor: pointer;
    font-size: 16px;
    overflow-y: scroll;
    color: whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Community-Dropdown-Options::-webkit-scrollbar {
    background-color: darkgray;
    border-radius: 10px;
}

.Community-Dropdown-Options::-webkit-scrollbar-thumb {
    background-color: #1a1a1b;
    border-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Community-Name-Container{
    height: 100%;
    padding-top: 10px;
    overflow-wrap: break-word;
}

.Community-Name {
    height: 45px;
    display: flex;
    align-items: center;
}


.Community-Name:hover {
    color: white;
    font-size: 17px;
}

.Dropdown-Input {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.Community-Dropdown-Input input{
   width: fit-content;
   outline: none;
   background: none;
   color: #d7dadc;
   border: none;
   font-weight: bold;
   background-color: #1a1a1b;
}

.Post-Type-Buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.36);
}

.Post-Type-Buttons button {
    cursor: pointer;
    height: 65%;
    width: 90px;
    background: none;
    border: 1px solid white;
    background-color: #242424;
    margin-right: 10px;
    margin-left: 10px;
}

.fa-solid.fa-font {
    font-size: 25px;
}

.fa-solid.fa-image {
    font-size: 25px;
    background: linear-gradient(to top, green, #FD7C80, skyblue);
    background-clip: text;
    color: transparent;
}

#image-rules {
    color: #ffa348
}

.Community-Dropdown-Input {
    display: flex;
    align-items: center;
    height: 30px;
    width: fit-content;
    border: 1px solid #484949;
}

.Community-Dropdown-Input span {
    margin: 0px 5px;
}

.Community-Carrot {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 23px;
    margin-right: 20px;
}

.fa-solid.fa-sort-down {
    margin-bottom: 10px;
    color: #d7dadc;
    cursor: pointer;
}

.fa-solid.fa-user-group {
    margin: 0px 2%;
    color: whitesmoke;
}
