.Deleted-Header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #94E044;
}

.Deleted-Header-Bad {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f66151;
    color: white;
}

.Profile-Page {
    margin: 0 auto;
    width: 100%;
}

.Loading-Profile {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.Empty-User-Data {
    background-color: #1D1D1D;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .Post-Tile-Container {
        width: 75%
    }
}

@media screen and (max-width: 430px) {
    .Post-Tile-Container {
        width: 100%;
    }
}

.Profile-Type-Buttons {
    display: flex;
    align-items: center;
    position: sticky;
    top: 50px;
    z-index: 99;
    justify-content: flex-start;
    padding: 0 0 0 6.5%;
    background-color: #1D1D1D;
    width: 93.5%;
    height: 35px
}

.Profile-Type-Buttons button{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    color: #A8AAAC;
    background: none;
    height: 100%;
    width: fit-content;
}

.Profile-Type-Buttons button:hover {
    color: white;
}

.Profile-Type-Buttons .enabled {
    border-bottom: 2px solid whitesmoke;
}

.Right-Profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 2%;
}
