.Community-Banner {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right,#506ED5, #A065CE);
    overflow: hidden;
}

.Community-Banner img {
    width: 100%;
    object-fit: cover;

}

.Inner-Community-Header-Img {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.Inner-Community-Header-Img h1 {
    margin-bottom: 0px;
}

.Inner-Community-Header img {
    width: 100px;
    height: 85%;
    border-radius: 100%;
    border: 2px solid gray;
}

.Comm-Image-Container {
    margin-right: 4%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.Community-Header {
    padding: 5px 12%;
    margin-bottom: 3%;
    background-color: #1A1A1B;
    color: white;
    display: flex;
    flex-direction: row;
}

.Community-Container {
    color: white;
}

.Community-Page {
    margin: 0 auto;
    width: 95%;
    max-width: 1500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Inner-Community-Header {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#comm-camera {
    position: absolute;
    font-size: 25px;
    left: 75%;
    top: 70%;
}
