.User-Card {
    margin: 10px 2%;
    height: fit-content;
    border: 1px solid grey;
    padding: 10px 0px;
    background-color: #1D1D1D;
    border-radius: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 1200px) {
    .User-Card {
        display: none;
    }
}

.Handle p{
    color: white
}

.User-Card-Button button {
    border: 2px solid #4a4949;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 15px;
    background: none;
    border: 1px solid #4a4949;
    font-size: 14px;
    font-weight: 700;
}

.User-Card-Button {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

#Post-Widget-Button3 {
    background-color: #ff4500;
    color: white;

}

#Post-Widget-Button3:hover {
    background-color: #c23400;
    color: white;

}

.User-Image {
    width: 100%;
    position: relative;
}

.User-Image img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid grey;
    object-fit: cover;

}
.fa-solid.fa-camera {
    position: absolute;
    top: 59%;
    left: 20%;
    font-size: 20px
}

#no-avatar {
    color: #1D1D1D;
    position: absolute;
    top: 59%;
    left: 20%;
    font-size: 20px
}

.Handle {
    width: 80%;
}
