/* TODO: Add sitewide styles */
body {
    background-color: #303030;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.errorDiv {
    color: #ff7b63;
    margin: 0px;
    padding: 0px;
}
