.Main-Page {
    margin: 0 auto;
    padding-top: 40px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #030303;
}

body {
    background-color: #313338;
}
