.Single-Post-Container {
    color: white;
    width: 59%;
    padding-left: 40px;
    display: flex;
    position: relative;
    border-radius: 5px;
    margin: 0px 0px 0px 5%;
    height: fit-content;
    background-color: #1a1a1b;
    align-items: center;
    justify-content: center;
}

.Single-Post-Inner-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: #1a1a1b;
    overflow: hidden;
    margin: 10px 0;
}

@media screen and (max-width: 1000px) {
    .Single-Post-Container {
        margin-right: 5%;
        width: 100%
    }
}

@media screen and (max-width: 400px) {
    .Single-Post-Container {
        width: 80%;
    }

}

#Like-Load {
    width: 25px;
    height: 25px;
}


.Post-Text-Tile-Container {
    word-wrap: break-word;
    word-break: keep-all;
}

.Post-Text-Tile-Container h3 {
    font-size: 20px;
    color: #d7dadc;
}

.Post-Text-Tile-Container img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #818384;
    overflow: hidden;
}

.Post-Back-Drop {
    background-color: black;
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

.Post-View-Banner {
    display: flex;
    align-items: center;
    color: #d7dadc;
    justify-content: space-around;
    margin: 0 auto;
    height: 50px;
    width: 90%;
    position: sticky;
    top: 50px;
    z-index: 9;
    background-color: black;
}

.fa-solid.fa-xmark {
    cursor: pointer;
}

.Post-View-Banner p {
    margin: 0px;
}

.Single-Post-Info-Container {
    cursor: pointer;
    display: flex;
    margin: 15px 0 0 0;
    width: 90%;
    min-width: 30%;
    font-size: 12px;
    height: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #818384;
}

#post-view-cursor {
    cursor:default;
}

#post-info-cursor {
    cursor: text;
}

#post-text-cursor {
    cursor: text;
}


.Single-Post-Buttons {
    display: flex;
    position: relative;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.Comment-Container {
    width: 100%;
}

.Post-Text {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #d7dadc;
    word-break: keep-all;
    height: fit-content;
    margin-top: 40px;
    padding-bottom: 10px
}

.Post-Info-Outer-Container {
    display: flex;
    width: 90%;
    word-wrap: break-word;
    word-break: keep-all;
    flex-direction: column;
}

.Option-Button-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.More-Post-Options {
    display: none;
}



@media screen and (max-width: 730px) {
    #option-button-container2 {
        display: none;
    }
    .More-Post-Options {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .More-Options-Button {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .More-Options-Button:hover {
        transition-duration: 50ms;
        font-size: 22px;
    }
}



.Post-Edit-Buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#edit-error {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.Post-Edit-Container textarea{
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px;
    height: 200px;
    min-width: 100%;
    max-width: 100%;
    background: none;
    color: white;
}

.Post-Edit-Container button {
    cursor: pointer;
    margin: 0px 10px 15px 10px;
    width: 105px;
    height: 35px;
    border-radius: 20px;
    border: none;
}

#submit-edit-post-enabled{
    background-color: #8ff0a4;
    color: black;
    font-weight: bold;
}

/* #submit-edit-post .disabled {
    color: black;
    font-weight: bold;
} */

#cancel-button2 {
    background-color: #ff7b63;
    color: black;
    font-weight: bold;
}

.Empty-Comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 90%;
}
.Empty-Comments h3{
    margin-bottom: 0px;
}

.fa-solid.fa-comments {
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .Comm-Widget {
        display: none;
    }
}

#post-view-exit {
    color: #ff7b63;
    font-size: 25px;
}

#header-title {
    color: #8ff0a4;
}

.View-Img-Container {
    position: relative;
}

.Image-Switch-Container-View {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #d7dadc;
    top: 50%;
    left: 5%;
    box-shadow: 0px 0px 10px 4px black;
    border-radius: 100%;
}

.Image-Switch-Container-View-Hide {
    display: none;
}

.Image-Switch-Container-View-Right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #d7dadc;
    top: 50%;
    right: 5%;
    box-shadow: 0px 0px 10px 4px black;
    border-radius: 100%;
}

.Image-Switch-Container-View-Right-Hide {
    display: none;
}

@media screen and (max-width: 430px) {
    .Single-Post {
        width: 100%;
    }

    .Post-View-Banner {
        padding-left: 10px;
        padding-right: 10px;
        width: 96%;
    }

    #header-title {
        font-size: 10px;
        width: 50%;
    }
    .Post-Back-Drop {
        width: 100%
    };
}
