.User-Comm-Container {
    width:100%;
    margin: 10px 2%;
    background-color: #1D1D1D;
    border: 1px solid gray;
}

@media screen and (max-width: 1000px) {
    .User-Comm-Container {
        display: none;
    }
}

.Comm-Header-Profile {
    padding: 0px 20px;
    margin-bottom: 30px;
}

.User-Comm-Inner {
    padding: 0px 20px;
}

.User-Comm-Info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Comm-Img {
    width: 40px;
    height: 40px;
    margin-right: 5%;
}

.Comm-Img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.User-Comm-Name:hover {
    color: #8ff0a4;
    text-decoration: underline;
}

.Home-Widget-Buttons-Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#Community-Widget-Button-Profile {
    border: 2px solid #4a4949;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 15px;
    background: none;
    background-color: #94e044;
    border: 1px solid #4a4949;
    font-size: 14px;
    font-weight: 700;
    color: black;
}

#Community-Widget-Button-Profile:hover {
    background-color: #649e27;
}
