.Comm-Widget {
    width: 25%;
    border-radius: 5px;
    color: #d7dadc;
    padding: 15px;
    margin-left: 2%;
    border: .5px solid grey;
    background-color: #1A1A1B;
    height: fit-content;
}

@media screen and (max-width: 1200px) {
    .Comm-Widget {
        display: none;
    }
}

.Comm-Widget2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Comm-Widget2 h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Comm-Widget2 button{
    width:50%;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    color: rgb(28, 28, 28);
    border: 1px solid #303030;
    font-weight: bold;
    background-color: #f66151;
}

.Comm-Widget button:hover {
    background-color: #ed333b;
}

.Comm-Description {
    border-bottom: 1px solid gray;
    overflow: hidden;
    word-wrap: break-word;
    word-break: keep-all;
}

.Description-Edit {
    min-width: 90%;
    max-width: 90%;
    background: none;
    max-height: 165px;
    min-height: 165px;
    padding: 10px;
    color: white;
    font-size: 14px;
}

.Submit-Edit-Comm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Comm-Buttons {
    display: flex;
    justify-content: space-between;
}

.Comm-Buttons button {
    cursor: pointer;
    margin: 10px 10px 15px 10px;
    font-weight: bold;
    width: 65px;
    height: 35px;
    border-radius: 20px;
    border: none;
}

.Comm-Options {
    margin-top: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.Comm-Options button{
    border: 2px solid #4a4949;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 15px;
    background: none;
    border: 1px solid #4a4949;
    font-size: 14px;
    font-weight: 700;
}
