.Login-Modal-Container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 450px;
    padding: 10px 50px;
    color: #F2F4F7;
    background-color: #1D2939;
    width: 400px;
    border-radius: 30px;
}

.Welcome-Header p{
    margin-top: 0px;
}

.Welcome-Header h3 {
    margin-bottom: 10px;
}

.Login-Form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 25px;
    height: 200px;
    border-top: 1px solid #344054;
    width: 100%;
    height: 150px;
}

.Email-Input {
    width: 100%;
    height: 100%;
}

.Email-Input p{
    margin-bottom: 5px;
}

.Login-Buttons {
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 150px;
    justify-content: space-around;
    flex-direction: column;
}

.Login-Buttons button{
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    font-weight: 700;
}

.Login-Submit {
    color: white;
    background-color: #3584e4;
}

#Demo-Submit {
    color: white;
    background-color: #F06F77;
}

.Sign-Up-Footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.Sign-Up-Footer h4 {
    cursor: pointer;
    margin: 0px 0px 0px 3%;
}

.Sign-Up-Footer h4:hover {
    text-decoration: underline;
}

.Email-Input input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: none;
    background-color: #344054;
    box-sizing: border-box;
    color: white;
    border: none;
    padding: 0px 10px;
    margin-bottom: 15px;
}

.Email-Error {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.errorDivEmail {
    color: #ff7b63;
    display: flex;
    align-items: center;
    padding: 0px;
    height: 100%;
}

.errorDivEmail p {
    margin-bottom: 0px;
}
